{
    "plugins": [
        "@babel/plugin-transform-proto-to-assign",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        ["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }]
    ]
}